<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
    <!--ㄴvue library-->

</head>

    //veu 영역과 vue가 아닌 영역을 나눠보자

<body>

    <div id="app">
        뷰 영역을 선언<br>
        {{message}}<br>
        {{item.message}}<br>

        //two way binding
        <input type="text" v-model="message"><br>
<!--        <input type="text" v-model="item.message"><br>-->
        //양방향 데이터 바인딩(vue, input어느 하나의 값이 바뀌면 양방향으로 바뀜
        <button @click="getMessage()">button</button><br>

        <hr>

        //one way binding
        <input type="text" :v-model="item.message"><br> //변경값이 반영되지 않음 : one way binding (v-model 앞에 :)
        {{item.message}} <br> //two way binding
        <button @click="setMessage()">button</button><br>
    </div>

<!--    <input type="text" id="txt" value="aaaa">-->


<script>
    //model
    new Vue({
        el: '#app',
        //vue에 대한 영역을 잡아줘야 함 (어디서부터 어디까지)
        data: function () {
            return {
                message: 'Hello world',
                item:{message:'hi'}
            }
        },
        watch : {
            message : (newValue, oldValue) => { //데이터(모델)을 대상으로 적용 : message 값이 바뀌면 작동된다는 뜻
                alert(newValue + " : " + oldValue);
            }
        },
        methods:{
            getMessage(){
                    // alert(this.message); //this의 영역 : vue
                    // this.message = 'message!'; //메세지 바꾸기
                    console.log(this.message = 'message!');
            },
            setMessage(){
                this.item.message='item message!';
            }
        },


        mounted() {
            console.log(2222);
        },
        created() {
            console.log(1111);
        },
    })

    // function setTxt() {
    //     document.getElementById("txt").value = 'setTxt';
    // }
    //
    // setTimeout(setTxt, 5000);

</script>


</body>
</html>




<!--npm install -g @vue/cli 설치-->
<!--npm : node package manager - node.js의 maven같은 개념-->