<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">{{message}}<br>
        <input type="text" v-model="message">{{item.message}}
        <button @click="getMessage()">button</button>
        <br><hr>

        <input type="text" :v-model="item.message"><br>
        {{item.message}}!
        <button @click="setMessage()">button</button>
    </div>


<script>
    var d = new Date();
    new Vue({
        el:'#app',
        data:{
            message:'hello vue js!',
            item:{message:'hi'}
        },
        beforeCreate: function(){
            console.log("beforeCreate " + d.getTime());
        },
        created: function(){
            console.log("created " + d.getTime());
        },
        mounted: function(){
            console.log("mounted " + d.getTime());
            this.message = 'hello vue!';
        },
        updated: function(){
            console.log("updated " + d.getTime());
        },
        methods:{
            getMessage(){
                this.message='turn message!';
            },
            setMessage(){
                this.item.message='turn item message!';
            }
        },
        watch: {
            message: (newValue, oldValue) => {
                alert(newValue + ":" + oldValue);
            }
        }
    });
</script>
</body>
</html>