<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="https://unpkg.com/vue"></script>

<div id="root">
    <h1>{{greeting}}</h1>
    <input v-model="greeting">
</div>
<script>
    new Vue({
        el:'#root',
        data:{
            greeting:'Hello Vue'
        }
    });
</script>
-----------------------------------1
<div id="root2">
    <div v-if="count === 1">
        Green
    </div>
</div>
<script>
    new Vue({
        el:'#root2',
        data:{
            count:1
        }
    });
</script>
-----------------------------------2
<div id="root3">
    <div v-if="count === 1">
        Green
    </div>
    <div v-else-if="count === 2">
        Red
    </div>
    <div v-else>
        Orange
    </div>
</div>
<script>
    new Vue({
        el:'#root3',
        data:{
            count:2
        }
    });
</script>
-----------------------------------3
<div id="root4">
    <div v-show="count === 1">
        Green
    </div>
</div>
<script>
    new Vue({
        el:'#root4',
        data:{
            count:1
        }
    });
</script>
-----------------------------------4
<style>
    .red{border:2px solid red;}
</style>
<div id="root5">
    sign up <br>
    <input v-model="email" :class="{red:email.length < 2}"><br>
<!--    <button onclick="alert('sign up')" v-bind:disabled="email.length < 2">button</button>-->
    <button onclick="alert('sign up')" :disabled="email.length < 2">button</button>
</div>
<script>
    app = new Vue({
        el:'#root5',
        data:{
            email:""
        }
    });
</script>
-----------------------------------5
<style>
    .red{border:2px solid red;}
    .green{border:2px solid green;}
</style>
<div id="root6">
    <p v-text="email"></p>
    <input v-model="email" :class="[email.length < 2 ? 'red' : 'green']"><br>
    <!--    <button onclick="alert('sign up')" v-bind:disabled="email.length < 2">button</button>-->
    <button onclick="alert('sign up')" :disabled="email.length < 2">button</button>
</div>
<script>
    app = new Vue({
        el:'#root6',
        data:{
            email:""
        }
    });
</script>
-----------------------------------6
<style>
    .red{border:2px solid red;}
    .green{border:2px solid green;}
</style>
<div id="root7">
    <p v-html="email"></p>
    <input v-model="email" :class="[email.length < 2 ? 'red' : 'green']"><br>
    <!--    <button onclick="alert('sign up')" v-bind:disabled="email.length < 2">button</button>-->
    <button onclick="alert('sign up')" :disabled="email.length < 2">button</button>
</div>
<script>
    app = new Vue({
        el:'#root7',
        data:{
            email:""
        }
    });
</script>
-----------------------------------7
<style>
    .red{border:2px solid red;}
    .green{border:2px solid green;}
</style>
<div id="root8">
    <p v-once>{{email}}</p>
    <p>{{email}}</p>
    <input v-model="email" :class="[email.length < 2 ? 'red' : 'green']"><br>
    <!--    <button onclick="alert('sign up')" v-bind:disabled="email.length < 2">button</button>-->
    <button onclick="alert('sign up')" :disabled="email.length < 2">button</button>
</div>
<script>
    app = new Vue({
        el:'#root8',
        data:{
            email:"cat@cat.com"
        }
    });
</script>
-----------------------------------8
<div id="root9">
    <ul>
        <li v-for="c in cats">{{c}}</li>
    </ul>
</div>
<script>
    app = new Vue({
        el:'#root9',
        data:{
            cats:[
                'kitkat',
                'fish',
                'basco',
                'melanthios'
            ]
        }
    });
</script>
-----------------------------------9
<div id="root10">
    <ul>
        <li v-for="c in cats">{{c.name}}</li>
    </ul>
</div>
<script>
    app = new Vue({
        el:'#root10',
        data:{
            cats:[
                {name:'kitkat2'},
                {name:'fish2'},
                {name:'henry2'}
            ]
        }
    });
</script>
-----------------------------------10
<div id="root11">
    <input v-model="newCat">
    <button v-on:click="addKitty">+ADD</button>
    <ul>
        <li v-for="cat in cats">{{cat.name}}</li>
    </ul>
</div>
<script>
    app = new Vue({
        el:'#root11',
        data:{
            cats:[
                {name:'kitkat2'},
                {name:'fish2'},
                {name:'henry2'}
            ],
            newCat:''
        },
        methods:{
            addKitty:function(){
                return this.cats.push({name:this.newCat});
            }
        }
    });
</script>
-----------------------------------11
<div id="root12">
    <input v-model="newCat" v-on:keyup.enter="addKitty">
    <button v-on:click="addKitty">+ADD</button>
    <ul>
        <li v-for="cat in cats">{{cat.name}}</li>
    </ul>
</div>
<script>
    app = new Vue({
        el:'#root12',
        data:{
            cats:[
                {name:'kitkat3'},
                {name:'fish3'},
                {name:'henry3'}
            ],
            newCat:''
        },
        methods:{
            addKitty:function(){
                return this.cats.push({name:this.newCat});
            }
        }
    });
</script>
-----------------------------------12
<!--v-on = @-->
<div id="root13">
    <input v-model="newCat" @keyup.enter="addKitty">
    <button @click="addKitty">+ADD</button>
    <ul>
        <li v-for="cat in cats">{{cat.name}}</li>
    </ul>
</div>
<script>
    app = new Vue({
        el:'#root13',
        data:{
            cats:[
                {name:'kitkat4'},
                {name:'fish4'},
                {name:'henry4'}
            ],
            newCat:''
        },
        methods:{
            addKitty:function(){
                this.cats.push({name:this.newCat});
                this.newCat = '';
            }
        }
    });
</script>
-----------------------------------13
<!--v-on = @-->
<div id="root14">
    <input v-model="newCat" @keyup.enter="addKitty">
    <button @click="addKitty">+ADD</button>
    <ul>
        <li v-for="cat in cats">{{cat.name | capitalize | kittify}}</li>
    </ul>
</div>
<script>
    app = new Vue({
        el:'#root14',
        data:{
            cats:[
                {name:'kitkat5'},
                {name:'fish5'},
                {name:'henry5'}
            ],
            newCat:''
        },
        methods:{
            addKitty:function(){
                this.cats.push({name:this.newCat});
                this.newCat = '';
            }
        },
        filters:{
            capitalize: function(value){
                return value.toUpperCase();
            },
            kittify:function(value){
                return value + 'y';
            }
        }
    });
</script>
-----------------------------------14
<!--v-on = @-->
<div id="root15">
    {{kittifyName}} <br>
    <input v-model="newCat" @keyup.enter="addKitty">
    <button @click="addKitty">+ADD</button>
    <ul>
        <li v-for="cat in cats">{{cat.name}}</li>
    </ul>
</div>
<script>
    app = new Vue({
        el:'#root15',
        data:{
            cats:[
                {name:'kitkat6'},
                {name:'fish6'},
                {name:'henry6'}
            ],
            newCat:''
        },
        methods:{
            addKitty:function(){
                this.cats.push({name:this.newCat});
                this.newCat = '';
            }
        },
        computed:{
            kittifyName:function(){
                if(this.newCat.length > 1){
                    return this.newCat + 'yy';
                }
            }
        }
    });
</script>
-----------------------------------15
<div id="root16">
    <input v-model="newCat" @keyup.enter="addKitty">
    <button @click="addKitty">+ADD</button>
    <cat-list></cat-list>
    <ul>
        <li v-for="cat in cats">{{cat.name}}</li>
    </ul>
    <cat-list></cat-list>
</div>
<script>
    Vue.component('cat-list',{
        template:'<ul><li>cat</li></ul>'
    });
    app = new Vue({
        el:'#root16',
        component:[
            'cat-list'
        ],
        data:{
            cats:[
                {name:'kitkat6'},
                {name:'fish6'},
                {name:'henry6'}
            ],
            newCat:''
        },
        methods:{
            addKitty:function(){
                this.cats.push({name:this.newCat});
                this.newCat = '';
            }
        },
        computed:{
            kittifyName:function(){
                if(this.newCat.length > 1){
                    return this.newCat + 'yy';
                }
            }
        }
    });
</script>
-----------------------------------16
<div id="root17">
    <input v-model="newCat" @keyup.enter="addKitty">
    <button @click="addKitty">+ADD</button>
    <ul>
        <li v-for="cat in cats">{{cat.name}}</li>
    </ul>
    <cat-list :cats="cats"/>
</div>
<script>
    Vue.component('cat-list',{
        props:['cats'],
        template:'<ul><li v-for="cat in cats">{{cat.name}}</li></ul>'
    });
    app = new Vue({
        el:'#root17',
        component:[
            'cat-list'
        ],
        data:{
            cats:[
                {name:'kitkat7'},
                {name:'fish7'},
                {name:'henry7'}
            ],
            newCat:''
        },
        methods:{
            addKitty:function(){
                this.cats.push({name:this.newCat});
                this.newCat = '';
            }
        },
        computed:{
            kittifyName:function(){
                if(this.newCat.length > 1){
                    return this.newCat + 'yy';
                }
            }
        }
    });
</script>
-----------------------------------17
<div id="root18">
    <input v-model="newCat" @keyup.enter="addKitty">
    <button @click="addKitty">+ADD</button>
    <ul>
        <li v-for="cat in cats">{{cat.name}}</li>
    </ul>
    <cat-list :tiger="cats"/>
</div>
<script>
    Vue.component('cat-list',{
        props:['tiger'],
        template:'<ul><li v-for="cat in tiger">{{cat.name}}</li></ul>'
    });
    app = new Vue({
        el:'#root18',
        component:[
            'cat-list'
        ],
        data:{
            cats:[
                {name:'kitkat7'},
                {name:'fish7'},
                {name:'henry7'}
            ],
            newCat:''
        },
        methods:{
            addKitty:function(){
                this.cats.push({name:this.newCat});
                this.newCat = '';
            }
        },
        created:function(){
            console.log('created');
        },
        mounted:function(){
            console.log('mounted');
        },
        updated:function(){
            console.log('updated');
        },
        destroyed:function(){
            console.log('destroyed');
        }
    });

    setTimeout(function(){
        app.$destroy();
    }, 5000);
</script>


</body>
</html>